.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: first baseline;
    width: auto; 
    margin: 10px;
    background-color: lightslategray;
    border-radius: 20px;
  }
  .cadastros {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  h1 {
    margin-bottom: 20px; 
  }
  
  .error-message,
  .success-message {
    color: rgb(212, 38, 38) ;
    text-align: center;
  }
  
  .success-message {
    color: green;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
    width: 100%;
    max-width: 300px;
  }

  button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: midnightblue;
  }

  .tabelaConsulta{
    width: 50%; 
  }
  
