table {
    min-width: 500px; 
    max-width: 2000px;
    margin: 30px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: midnightblue;
    color: white;
  }

  caption{
    display: inline;
    padding: 8px;
    font-size: large  ;
    font-weight: 1000;
  }
  
  tr{
    background-color: #c7c4c4;
  }