input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .bts-table{
    display: flex;
    justify-content: center;
  }
  
  .bt-deletar{
    background-color: red;
  }
  .bt-deletar:hover{
    background-color: darkred;
  }
    